## Задание 2

На складе лежат разные фрукты в разном количестве.
Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [1]:
def fruits (**kwargs):
    result = 0
    for key, value in kwargs.items():
        result += value
    return result

In [2]:
fruits(banana=5, mango=7, apple=2, orange=5)

19

## Задание 3

Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
[100, 125, -90, 345, 655, -1, 0, 200]
Используйте list comprehensions

In [3]:
costs = [100, 125, -90, 345, 655, -1, 0, 200]

In [4]:
format_costs = [i if i > 0 else 0 for i in costs]
format_costs

[100, 125, 0, 345, 655, 0, 0, 200]

In [5]:
def sum_costs(format_costs):
    s =0 
    for i in format_costs:
        s += i
    return s

In [6]:
sum_costs(format_costs)

1425

In [7]:
# 2 вариант записи

In [8]:
sum([i if i > 0 else 0 for i in costs])

1425

## Задание 4

### Условие 4.1.

Даны два списка.
Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [9]:
data = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
summa = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

In [10]:
len(data), len(summa)

(30, 30)

In [31]:
def func(data: list, summa: list) -> dict: 
    Dictionary={}
    for i in range(len(summa)):
            Dictionary[data[i]] = summa[i]
    return Dictionary

dict = func(data, summa)
dict

{'2021-09-14': 1270,
 '2021-12-15': 8413,
 '2021-09-08': 9028,
 '2021-12-05': 3703,
 '2021-10-09': 2732,
 '2021-09-30': 2008,
 '2021-12-22': 295,
 '2021-11-29': 4944,
 '2021-12-24': 5723,
 '2021-11-26': 3701,
 '2021-10-27': 4471,
 '2021-12-18': 651,
 '2021-11-09': 316,
 '2021-11-23': 4274,
 '2021-09-27': 6275,
 '2021-10-02': 4988,
 '2021-12-27': 6930,
 '2021-09-20': 2971,
 '2021-12-13': 6333,
 '2021-11-01': 2004,
 '2021-12-06': 519,
 '2021-12-08': 3406,
 '2021-10-31': 5015,
 '2021-10-26': 5700,
 '2021-12-09': 2887}

In [12]:
nov = [summa[i] for i in range(len(dict)) if '-11-' in data[i]]
nov
# не могу понять, где ошибка, что не попадает одно число 316 ..

[4944, 3701, 7037, 4274, 2004, 2822]

In [13]:
def sum11(nov):
    s11=0
    for i in nov: s11+=i
    return s11
sum11(nov)

24782

### Условие 4.2.

Найдите выручку компании в зависимости от месяца
Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [14]:
from datetime import datetime

In [41]:
data_m = []
for i in range(len(data)):
    data_m.append(datetime.strptime(data[i],"%Y-%m-%d").date().month)

data_m

[9,
 12,
 9,
 12,
 10,
 9,
 12,
 11,
 12,
 11,
 10,
 12,
 11,
 11,
 9,
 10,
 12,
 9,
 12,
 11,
 11,
 12,
 12,
 10,
 10,
 9,
 11,
 12,
 10,
 12]

In [45]:
len(data_m)

30

In [44]:
func(data_m, summa)

{9: 2008, 12: 2887, 10: 5700, 11: 316}

In [ ]:
# почему не весь словарь показывается? тоже не понимаю почему так отрабатывает